{% extends "base.html" %}
{% block content %}
    <div>
        <h1>My Tasks</h1>
        {% if task_list|length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Is Completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tasks in task_list %}
                        <tr>
                            <td>{{tasks.name}}</td>
                            <td>{{tasks.start_date}}</td>
                            <td>{{tasks.due_date}}</td>
                            <td>
                                {%if tasks.is_completed == False %}
                                    <form method="post" action="{% url 'complete_task' tasks.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="is_completed" value="True">
                                        <button>Complete</button>
                                    </form>
                                {% else %}
                                    Done
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
        {% else %}
            <p>You have no tasks</p>
            </table>
        {% endif %}
    </div>
{% endblock content %}