{% extends "base.html" %}
{% block content %}
    {% load markdownify %}
    <div>
        <h1>{{project_detail}}</h1>
        {{project_detail.description|markdownify}}
        <h2>Tasks</h2>
        <p><a href="{% url "create_task" %}">Create a new task</p></a>
        {%if project_detail.tasks.all|length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for deets in project_detail.tasks.all %}
                        <tr>
                            <td>{{deets.name}}</td>
                            <td>{{deets.assignee}}</td>
                            <td>{{deets.start_date}}</td>
                            <td>{{deets.due_date}}</td>
                            <td>
                                {%if deets.is_completed == True%}
                                    Done
                                {% else %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
        {% else %}
            <p>This project has no tasks<p>
            </table>
        {% endif %}
    </div>
{% endblock content %}

