{% extends "base.html" %}
{% block content %}
    <div>
        <h1>My Projects</h1>
        <p><a href="{% url "create_project" %}">Create a new project</p></a>
        {% if project_list|length < 1 %}
            <p>You are not assigned to any projects</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {%for projects in project_list%}
                        <tr>
                            <td><a href="{% url "show_project" projects.id %}">{{projects.name}}</a></td>
                            <td>{{projects.tasks.all|length}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock content %}






















{% comment %} {% extends "base.html" %}
{% block content %}
<div>
    <h1>My Projects</h1>
    {% if projects_list|length < 1%}
    <p>You are not assigned to any projects</p>
        {% elif projects_list %}
        <div>
            <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
            </thead>
            <tbody>
                {%for projects in projects_list%}
                <tr>
                <td>{{projects.name}}</td>
                <td>{{projects.|length}}</td>
                </tr>
                {% endfor %}  
            </tbody>
        </table>  
    </div>  
    {% endif %}
</div>
{% endblock content %} {% endcomment %}